@import "tailwindcss";
@plugin "@tailwindcss/typography";

@media print {
  @page {
    margin: 0; /* This removes the header/footer URLs and dates */
  }
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
